@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-card: var(--card);
  --color-foreground: var(--foreground);
  --color-background: var(--background);
  --color-card-thick: var(--card-thick);

  --font-*: initial;
  --font-geist: var(--font-geist);

  --radius-*: initial;
  --radius-xs: calc(var(--spacing) * 0.5); /* 2px */
  --radius-sm: calc(var(--spacing) * 1); /* 4px */
  --radius-md: calc(var(--spacing) * 1.5); /* 6px */
  --radius-lg: calc(var(--spacing) * 2); /* 8px */
  --radius-xl: calc(var(--spacing) * 3); /* 12px */
  --radius-component: calc(var(--spacing) * 4); /* 16px */
  --radius-container: calc(var(--spacing) * 6); /* 24px */

  --z-index-*: initial;
  --z-index-back: -10; /* back elements */
  --z-index-default: 0; /* default elements */
  --z-index-front: 10; /* front elements */
  --z-index-important: 20; /* important elements (.e.g header, footer) */
  --z-index-small-overlay: 30; /* small overlays (.e.g popover, select-box) */
  --z-index-big-overlay: 40; /* big overlays (.e.g modal, drawer-sheet) */
}

:root {
  --background: #ffffff;
  --foreground: #0a0a0a;
  --card: #ffffff;
  --card-thick: #f1f1f1;
}

.dark {
  --background: #101010;
  --foreground: #fafafa;
  --card: #202020;
  --card-thick: #303030;
}

@layer base {
  * {
    @apply select-none cursor-auto outline-foreground/10 border-foreground/10 ring-foreground/10 border-solid;

    scrollbar-width: thin;
    scrollbar-color: var(--color-foreground) transparent;
  }

  body {
    @apply bg-background text-foreground relative;
  }

  html {
    @apply scroll-smooth font-geist;
  }

  a,
  span,
  label {
    @apply inline-block;
  }

  input:focus,
  textarea:focus {
    @apply outline-none;
  }

  textarea {
    @apply resize-none;
  }
}

.root {
  isolation: isolate;
}

@utility title {
  @apply text-lg font-bold;
}
